@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  max-width: 1440px;
  height: 60px;
  /* background-color: rgba(222, 218, 206, 1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: fixed;
  background-color: rgba(222, 218, 206, 0.8); /* Slight transparency */
  backdrop-filter: blur(0px);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
  background-color: rgba(222, 218, 206, 0.4);
  backdrop-filter: blur(10px);
}

header h1 {
  color: black;
  letter-spacing: 4px;
}

nav {
  height: 100%;
}

nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.burger {
  display: none;
}

.close {
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}

.mobile-nav {
  display: none;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
  letter-spacing: 2px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.hero {
  width: 100%;
  max-width: 1440px;
  background: linear-gradient(
    90deg,
    rgba(222, 218, 206, 1) 0%,
    rgba(245, 243, 233, 1) 69%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 50px 0px 50px;
}

.hero-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.hero-about h1 {
  font-size: 58px;
  font-weight: 700;
  color: #333;
}

.hero-about p {
  letter-spacing: 2px;
  position: relative;
}

.hero-about-job-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero-about-job-wrapper span {
  width: 50px;
  height: 3px;
  background-color: #333;
}

.hero-about button {
  padding: 15px 50px;
  background-color: rgba(245, 243, 233, 1);
  border: none;
  border-radius: 15px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.hero-image-wrapper {
  /* height:400px; */
}

.hero-image-wrapper img {
  height: 100%;
  width: 100%;
}

.about {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding: 100px;
  background-color: rgba(245, 243, 233, 1);
  scroll-margin-top: 60px;
}

.about-info {
  /* height: 370px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

.about-info p {
  letter-spacing: 2px;
  line-height: 1.6;
}

.about-header,
.services-header {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.about-header-line,
.services-header-line {
  height: 3px;
  width: 50px;
  background-color: #333;
}

.about-skills {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 100px;
}

.about-skills-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: orange;
}

.services {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding: 100px;
  background-color: rgba(202, 218, 206, 1);
  scroll-margin-top: 60px;
}

.services-info-header-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.services-wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 30px;
  flex-wrap: wrap;
}

.single-service {
  width: 30%;
  background-color: rgba(222, 218, 206, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.single-service i {
  font-size: 48px;
  color: #333;
}

.single-service h5 {
  letter-spacing: 2px;
}

.contact {
  width: 100%;
  max-width: 1440px;
  padding: 100px 50px;
  background-color: seashell;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.single-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.single-contact i {
  font-size: 48px;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .contact {
    padding: 50px 50px;
    gap: 70px;
  }

  .contacts {
    gap: 80px;
    /* flex-wrap: wrap; */
  }
}

@media screen and (max-width: 860px) {
  .hero {
    padding: 40px 50px 0px 50px;
  }

  .contacts {
    gap: 30px;
    /* flex-wrap: wrap; */
  }

  .single-contact i {
    font-size: 40px;
    color: #333;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 10px 20px 10px 50px;
  }

  nav ul li {
    margin: 0px 10px;
  }

  .hero {
    padding: 100px 20px 0px 20px;
    flex-direction: column;
  }

  .services {
    padding: 50px;
    align-items: center;
  }

  .single-service {
    width: 47%;
  }

  .single-contact i {
    font-size: 32px;
    color: #333;
  }
  .single-contact p {
    font-size: 14px;
  }
}

@media screen and (max-width: 680px) {
  nav ul li {
    display: none;
  }

  .burger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .burger.hide{
    display: none;
  }

  .mobile-nav {
    display: block;
    position: absolute;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    transition: all 0.5s ease;
    background-color: rgba(222, 218, 206, 0.7);
    backdrop-filter: blur(10px);
  }

  .mobile-nav.hidden {
    right: 0px;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 40px;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .mobile-nav ul li {
    list-style: none;
    margin: 0 15px;
    letter-spacing: 2px;
  }

  .mobile-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }
}
